body {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  padding: 40px;
  letter-spacing: 1.5px;
}

.page-header {
  background-color: #8abab0;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  letter-spacing: 4px;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

.orange{
  background-color: #ebcc6a;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.grey{
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.white{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.spacing{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

.comments{
  padding-left: 150px;
  padding-right: 150px;
}

.container{
  background-color: #f2f2f2;
  padding: 100px;
}

.padding{
  background-color: #ffffff;
  padding: 15px;
}

h3{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

body{
  font-family: 'Bebas Neue', cursive;
}

