body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  padding: 40px;
}

.page-header {
  background-color: #8abab0;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

.orange{
  background-color: #ebcc6a;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.grey{
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 80px;
}

.comments{
  padding-left: 150px;
  padding-right: 150px;
}

.container{
  background-color: #f2f2f2;
  padding: 100px;
}

.padding{
  background-color: #ffffff;
  padding: 15px;
}

h3{
  text-align: center;
}

h6{
text-align: initial;
}
